* {
  margin: 0;
  scroll-behavior: smooth;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* emoji align react-quill-editor */
div>.ql-editor{
  display: flex;
}
div.emoji{
  display: inline;
}

/* emoji align react-quill-editor */
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
.createBtn{
  float: right;
  padding-right: 110px;
 
  
}
.createBtn li div{
 
   font-size: 1.2em;
}
@media(max-width:600px){
  .createBtn{
  float: none;
  padding-right: 30px;
 
  
}
.createBtn li div{
 
   font-size: 1.2em;
}
}
.Red{
  color: red !important;
}
.Green{
  color: green !important;
}